<html>
    <center>
        <body background="/images/background.jpg">
            <table border="0" cellpadding="1" cellspacing="0" width="100%">
                <tr>
                    <td colspan="3"><img src="/images/1symbol.png" alt="" width="300"></td>
                    <td>
                        <form action="/admin/result">
                            <table border="0" cellpadding="0" cellspacing="0" width="80%" align="center">
                                <tr>
                                    <td><img src="/images/logo.png" alt="logo" width="120"></td>
                                    <td align="center"><FONT face="impact" size="5" color="red">CENTRAL BOARD OF SECONDARY EDUCATION</FONT><br>
                                        <h3> <b> STUDENT MARKSHEET PORTAL</b></h3>
                                    </td>
                                </tr>
                            </table>
                            
                            <hr width="80%" color="orange"><br>
                            <table border="0" cellpadding="5" cellspacing="0" align="center" width="80%">
                                <tr>
                                    <th colspan="2">Student Details</th>
                                </tr>
                                <tr>
                                    <td><b> Roll No:</b></td>
                                    <td><input type="text" name="rollno"></td>
                                </tr>
                                <tr>
                                    <td><b>  Student Name:</b></td>
                                    <td><input type="text" name="studentn"></td>
                                </tr>
                                <tr>
                                    <td><b>Father's Name:</b></td>
                                    <td><input type="text" name="fathern"></td>
                                </tr>
                                <tr>
                                    <td> <b> Date of birth:</b></td>
                                    <td><input type="date" name="birth"></td>
                                </tr>
                                <tr>
                                    <td><b> Gender</b> </td>
                                    <td><input type="radio" id="m" name="mm" value="S/O">Male
                                        <input type="radio" id="f" name="mm" value="D/O">Female
                                        <input type="radio" id="o" name="mm" value="C/O">Other
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>School Name: <br><br></Name:br></b></td>
                                    <td valign="top"><input type="text" name="schoolname"></td>
                                </tr>
                                <tr>
                                    <th colspan="2"><b>Student Subjects Marks</b></th>
                                </tr>
                                <tr>
                                    <td>Hindi:</td>
                                    <td><input type="text" name="hin"></td>
                                </tr>
                                <tr>
                                    <td>English:</td>
                                    <td><input type="text" name="eng"></td>
                                </tr>
                                <tr>
                                    <td>Mathematics:</td>
                                    <td><input type="text" name="math"></td>
                                </tr>
                                <tr>
                                    <td>Physics:</td>
                                    <td><input type="text" name="phy"></td>
                                </tr>
                                <tr>
                                    <td>Chemistry:</td>
                                    <td><input type="text" name="che"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" >
                                        <input type="reset">
                                    </td>
                                </tr>
                            </table><br>
                            </form>
                    </td>
                    <td>
                        <td colspan="3"><img src="/images/1symbol.png" alt="" width="300"></td>
                    </td>
                </tr>
            </table>
        </body>
    </center>
</html>
